{% extends 'main.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Created{% endblock title %}

{% block css_files %}
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock css_files %}


{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Created rooms</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
          <div class="row">
            <!-- Reports -->
            <div class="col-12">
              <!-- Top Selling -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">

                <div class="card-body pb-0">
                  <h5 class="card-title">Rooms <span>| created</span></h5>

                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Room name</th>
                        <th scope="col">Members</th>
                        <th scope="col">Last Active</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if empty_rooms %}
                      <h4>No available room</h4>
                      {% else %}
                      {% for room in rooms %}
                      <tr>
                        <td><a href="{% url 'room' room.id %}" class="text-primary fw-bold">{{room.name}}</a></td>
                        <td>{{room.members.all|length}}</td>
                        <td class="fw-bold">{{room.last_active}}</td>
                        <td><a class="btn btn-info btn-sm" href="">Edit</a></td>
                        <td><a class="btn btn-danger btn-sm" href="{% url 'delete-room' room.id %}">Delete</a></td>
                      </tr>
                      {% endfor %}
                      {% endif %}
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Top Selling -->
              
            </div><!-- End Reports -->
          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- Recent Activity -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Recent Activities</h5>

              <div class="activity">
                {% if empty_activity %}
                  <h5>No recent activity</h5>
                {% else %}
                {% for item in room_messages %}
                <div class="activity-item d-flex">
                  <div class="activite-label">{{item.created|hours_since}} hours</div>
                  <i class='bi bi-circle-fill activity-badge text-{{item.get_random_color}} align-self-start'></i>
                  <div class="activity-content">
                    @{{item.user}} replied to <a href="#" class="fw-bold text-dark">'{{item.room}}'</a> <br>{{item.body}}
                  </div>
                </div>
                {% endfor %}
                {% endif %}

              </div>

            </div>
          </div><!-- End Recent Activity -->

        </div><!-- End Right side columns -->

      </div>
    </section>

  </main><!-- End #main -->
{% endblock content %}



{% block Scripts %}
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>
{% endblock Scripts %}